body {
    width: 980px;
    margin-right: auto;
    margin-left: auto;

    /*background-image: url(), url(../img/bk01.png);*/
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 80px;
}

body .markdown-body {
    padding: 45px;
    border: 1px solid #ddd;
    border-radius: 3px;
    word-wrap: break-word;
}

pre {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

div#tip
{
  width:100px;
  height:75px;
  text-align: center;
  border:1px solid white;
  box-shadow: 10px 10px 5px #888888;
  transform:rotate(-20deg);
  -ms-transform:rotate(-20deg); /* IE 9 */
  -webkit-transform:rotate(-20deg); /* Safari and Chrome */
}

a#rcorners {
    border-radius: 25px;
    background: #8AC007;
    padding: 15px; 
    width: 200px;
    height: 100px;    
}

div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}